
/*Custom Color Variables*/

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  --shadow-color: hsl(32deg 21% 72%);
  --shadow-elevation-low:
    0px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0px 0.3px 0.5px hsl(var(--shadow-color) / 0.11),
    0px 0.5px 0.8px hsl(var(--shadow-color) / 0.22);

  --shadow-elevation-medium:
    0px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0px 0.5px 0.8px hsl(var(--shadow-color) / 0.06),
    0px 0.9px 1.4px hsl(var(--shadow-color) / 0.11),
    0px 1.5px 2.3px hsl(var(--shadow-color) / 0.17),
    0px 2.5px 3.8px hsl(var(--shadow-color) / 0.22);

    --shadow-elevation-high:
    0px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    0px 0.8px 1.2px hsl(var(--shadow-color) / 0.03),
    0px 1.3px 2px hsl(var(--shadow-color) / 0.05),
    0px 1.8px 2.7px hsl(var(--shadow-color) / 0.08),
    0px 2.4px 3.6px hsl(var(--shadow-color) / 0.1),
    0px 3px 4.5px hsl(var(--shadow-color) / 0.13),
    0px 3.9px 5.9px hsl(var(--shadow-color) / 0.16),
    0px 5px 7.5px hsl(var(--shadow-color) / 0.18),
    0.1px 6.4px 9.6px hsl(var(--shadow-color) / 0.21),
    0.1px 8.2px 12.3px hsl(var(--shadow-color) / 0.23);
}

/*Typography*/

body p {
  font-size: 1rem;
  font-family: outfit;
}

/*Desktop*/

body {
  background-color: var(--eggshell);
}

main {
  position: relative;
  margin: 0 auto;
  top: 7.6875rem;
  flex-direction: column;
  padding: 2.5rem;
  max-width: 46rem;
  background-color: var(--white);
  border-radius: 1.25rem;
  box-shadow: var(--shadow-elevation-high);
}

main img {
  border-radius: 0.75rem;
  margin-bottom: 2.5rem;
}

main h1 {
  font-family: "young serif", serif;
  font-weight: 400;
  color: var(--dark-charcoal);
  margin: 0 0 0.75rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1.75rem;
}

main p {
  font-family: outfit;
  color: var(--dark-charcoal);
  margin-bottom: 2rem;
}

/*Preparation Time section*/

main .preptime-list {
  background-color: var(--rose-white);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

main .preptime-list h2 {
  font-family: outfit;
  color: var(--dark-raspberry);
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1;
  margin-bottom: 1.3125rem;
}

main .preptime-list ul li {
  color: var(--dark-raspberry);
  line-height: 1rem;
  margin: 1rem 0;
}

main .preptime-list li, b {
  font-family: outfit;
  color: var(--dark-charcoal);
  margin-left: 1rem;
}

main .preptime-list li p {
  display: inline;
  color: var(--dark-charcoal);
}


/*Ingredients Section*/




/*Attribution Section*/

footer {
  display: none;
  position: relative;
  bottom: 0;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}
