/* Custom Color Variables */

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

/* Typography */

body p {
  font-size: 1rem;
  font-family: outfit;
}

/* Desktop */

body {
  background-color: var(--eggshell);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.6875rem;
  
}

main {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  max-width: 46rem;
  background-color: var(--white);
  border-radius: 1.25rem;
}

main img {
  border-radius: 0.75rem;
  margin-bottom: 2.5rem;
}

main h1 {
  font-family: "young serif", serif;
  font-weight: 400;
  color: var(--dark-charcoal);
  margin: 0 0 0.75rem;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 1.75rem;
}

main p {
  font-family: outfit;
  color: var(--dark-charcoal);
  margin-bottom: 2rem;
}

/* Preparation Time section */

main .preptime-list {
  background-color: var(--rose-white);
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin-bottom: 2.125rem;
}

main .preptime-list h2 {
  font-family: outfit;
  color: var(--dark-raspberry);
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1;
  margin-bottom: 1.3125rem;
}

main .preptime-list ul li {
  color: var(--dark-raspberry);
  line-height: 1rem;
  margin: 1rem 0;
}

main .preptime-list li,
b {
  font-family: outfit;
  color: var(--dark-charcoal);
  margin-left: 1rem;
}

main .preptime-list li p {
  display: inline;
  color: var(--dark-charcoal);
}

/* Ingredients Section */

main .ingredients-list {
  margin-bottom: 1.875rem;
}

main .ingredients-list h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--nutmeg);
  font-size: 1.875rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

main .ingredients-list ul {
  list-style: none;
  padding-left: 0.5rem;
}

main .ingredients-list li {
  color: var(--nutmeg);
  line-height: 2;
}

main .ingredients-list li::before {
  content: "\25CF"; /* Unicode character for a circle */
  color: var(--nutmeg);
  font-size: 0.7rem; /* Smaller font size for bullet */
  line-height: 2rem; /* Matches line-height of <li> */
  margin-right: 1.8rem;
}

main .ingredients-list li p {
  font-size: 1rem;
  color: var(--dark-charcoal);
  display: inline;
  line-height: 2;
}

/* Instructions section */

main hr {
  margin-bottom: 2.375rem;
}

main .instructions-list h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--nutmeg);
  font-size: 1.875rem;
  line-height: 1;
  margin-bottom: 2rem;
}

main .instructions-list ol {
  font-family: Outfit;
  font-weight: 700;
  color: var(--nutmeg);
  padding-left: 1.5rem;
  margin-bottom: 2.125rem;
}

main .instructions-list li {
  margin-bottom: 0.9375rem;
  padding-left: 1rem;
}

main .instructions-list li span {
  font-weight: 400;
  color: var(--dark-charcoal);
  line-height: 1.5rem;
}

main .instructions-list li span.bold {
  font-weight: 700;
}

main hr {
  margin-bottom: 2.125rem;
}

/*Nutrition Section*/

.nutrition-table {

}

.nutrition-table h2 {
  font-size: 1.875rem;
  font-family: "Young Serif";
  font-weight: 400;
  color: var(--nutmeg);
}

.nutrition-table caption {
  font-family: "Outfit";
  text-align: start;
}

.nutrition-table table {
  table-layout: fixed;
  font-family: "Outfit";
  color: var(--dark-charcoal);
  width: 100%;
  border-collapse: collapse;
  border: 1px solid purple;
}

.nutrition-table tr {
  border-bottom: 1px var(--light-grey);
}

.nutrition-table th {
  font-weight: 400;
  text-align: start;
}

.nutrition-table td {
  font-weight: 700;
  color: var(--nutmeg);
  text-align: start;
}


/*Attribution Section*/

/*
footer {
  
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: hsl(228, 45%, 44%);
}
